page-login {
    button {
        width: 80%;       
    }
    
    .bg {
        background-color: #3F51B5;
    }
    
    .loginForm {
        width: 80%;
        margin: auto;
        margin: 10%;
    }
    
    .logo {
        padding-top: 10%;
        text-align: center;
    }
    
    .loginLinks {
        text-align: center;
        
    }
}
