page-login {
    button {
        width: 80%;       
    }
     
    .loginForm {
        width: 80%;
        margin: auto;
        margin: 10%;
    }
    
    .logo {
        padding-top: 10%;
        text-align: center;
    }
    
    .loginLinks {
        text-align: center;
        
    }
    ion-content {
    background-color: map-get($colors, primary)!important;
}
}


