page-login {
//    button {
//        width: 80%;       
//    }
     
//    .loginSection {
//        width: 80%;
//        margin: auto;
//        margin: 10%;
//    }
    form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }
    
    .logo {
        padding-top: 10%;
        text-align: center;
    }
    
//    .loginLinks {
//        text-align: center;
//        
//    }
//    ion-content {
//    background-color: map-get($colors, primary)!important;
//}
    .login-background {
        background: url("../assets/img/loginimg.png");
        background-size: cover;
    }
}


