page-task-list {

// @-webkit-keyframes slideInBothWays {
//   0% {
//     -webkit-transform: translate3d(-100%,0,0);
//   }
 
//   50% {
//     -webkit-transform: translate3d(50%,0,0);
//   }
 
//   100% {
//     -webkit-transform: translate3d(0,0,0);
//   }
// }
 
// .slide-in-both-ways {
//    -webkit-animation: slideInBothWays ease-in 1; 
//   animation: slideInBothWays ease-in 1;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//   -webkit-animation-duration: 750ms;
//   animation-duration: 750ms;
// }

@-webkit-keyframes animateInPrimary {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
 
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
 
@-webkit-keyframes animateInSecondary{
 
  0% {
    opacity: 0;
  }
 
  50% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}
 
.animate-in-primary {
    -webkit-animation: animateInPrimary;
    animation: animateInPrimary;
    -webkit-animation-duration: 550ms;
    animation-duraton: 550ms;
}
 
.animate-in-secondary {
    -webkit-animation: animateInSecondary ease-in 1;
    animation: animateInSecondary ease-in 1;
    -webkit-animation-duration: 900ms;
    animation-duraton: 900ms;
}
}
