page-report {
    .reportBGtop {
        height: 100px;
        text-align: center;
    }
    
    .profileReport {
        width: 50%;
    }

    .reportBGbottom {
        margin-top: 10px;
        text-align: center;
    }
    
    ion-col {
        margin: 10px;
        padding: 0;
        margin-bottom: 20px;
    }
    
    .reportTask {
        width: 45px;
    }
    
    ion-row {
        text-align: center;
    }
    
    .shareReport {
        height: 40px;
    }

}
