<ion-header>

  <ion-navbar>
    <ion-title class="editprofile">Edit</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="profile">
    <ion-list>    
    
    <ion-item (click)="updateName()">
      <ion-grid>         
        <ion-row>
        <ion-col class="editUserLabel" width-40>
            Name
        </ion-col>
        <ion-col class="editUserDetail" *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
        </ion-col>
        <ion-col class="placeholder-profile" *ngIf="!userProfile?.firstName">
            <span>
              Tap here to edit.
            </span>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
            <ion-col class="editUserLabel" width-50>
            Profile Picture
            </ion-col>
            <ion-col class="editUserDetail">
                <ion-buttons>
                    <button (click)="takePicture()">
                    <ion-icon name="camera"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-col class="editUserLabel" width-40>
            Email
          </ion-col>
          <ion-col class="editUserDetail" width-60 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
            <ion-col class="placeholder-profile" *ngIf="!userProfile?.email">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
        <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col class="editUserLabel" width-50>
            Password
          </ion-col>
          <ion-col class="editUserDetail" class="placeholder-profile">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
          </ion-grid>
    </ion-item>
        <ion-item (click)="updateCollege()">
      <ion-grid>
          
        <ion-row>
          <ion-col class="editUserLabel" width-50>
            College
          </ion-col>
            <ion-col class="editUserDetail" *ngIf="userProfile?.college">
            {{userProfile?.college}}                
          </ion-col>
          <ion-col class="placeholder-college" *ngIf="!userProfile?.college">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
            </ion-row>
      </ion-grid>
    </ion-item>
                <ion-item (click)="updateCourse()">
      <ion-grid>
          
        <ion-row>
          <ion-col class="editUserLabel" width-50>
            Course
          </ion-col>
            <ion-col class="editUserDetail" *ngIf="userProfile?.course">
            {{userProfile?.course}}                
          </ion-col>
          <ion-col class="placeholder-course" *ngIf="!userProfile?.course">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
            </ion-row>
      </ion-grid>
    </ion-item>
                <ion-item (click)="updateYear()">
      <ion-grid>
          
        <ion-row>
          <ion-col class="editUserLabel" width-50>
            Year
          </ion-col>
            <ion-col class="editUserDetail" *ngIf="userProfile?.year">
            {{userProfile?.year}}                
          </ion-col>
          <ion-col class="placeholder-year" *ngIf="!userProfile?.year">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
            </ion-row>
      </ion-grid>
    </ion-item>
        
  </ion-list>
</ion-content>
