page-profile {
    
    ion-menu img {
      padding-top: 20px;
    }

    ion-menu ion-list .item-inner {
      padding: 10px;
    }

    ion-menu ion-list .item-block {
      margin-top: 5px;
    }

    ion-menu ion-header {
      text-align: center;
      background-image: url("../assets/img/headerimg.png");
    background-size: auto;
    color: #ffffff;

    }

    ion-item ion-label {
    margin: 0 !important;
  }

  ion-list {
    margin: 0;
    padding: 0;
  }

  ion-list-header {
    background-color: #ECECEC;
    margin: 0;
      padding: 10px 16px;
  }

  ion-item {
    padding: 0;
  }

  ion-note {
    font-size: 12px;
  }

    
.item-inner {
    border: none !important;
    padding: 0;
  }

  .placeholder-profile {
    color: #CCCCCC;
  }   
    
    ion-row {
        text-align: center;
    }
    
    .username {
        font-family: 'Montserrat-Bold';
        font-size: 1.2em;
    }

    .profileBadge {
      background-color: map-get($postColors, exploreGreen);
    }

ion-item-options .button {
  background-color: map-get($postColors, exploreGreen);
}
}
