<ion-header>
    <ion-navbar>
    
    <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
       
    <ion-title>Me</ion-title>
 <ion-buttons end>
      <button ion-button icon-only (click)="goToEdit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
        </ion-navbar>
</ion-header>


<ion-content class="profile">
    
        <ion-grid>
            <ion-row>
              <ion-col baseline>
              <button ion-button round color="accent">
                  <ion-icon name="person"></ion-icon>
<!--                <ion-badge>260</ion-badge>-->
            </button>
              </ion-col> 
              
            <ion-col width-50>
                <img class="profilepic" src="../assets/img/girl_avatar.png"/>
            </ion-col> 
              
              <ion-col baseline>
                <button ion-button round color="accent">
                  <ion-icon name="bookmark"></ion-icon>
<!--                    <ion-badge>260</ion-badge>-->
              </button>
              </ion-col> 
          </ion-row>

            <ion-row>       
                <ion-col *ngIf="userProfile?.firstName">
                    <span class="username">{{userProfile?.firstName}}</span>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col text-uppercase *ngIf="userProfile?.course">
                    <span>{{userProfile?.course}}</span>
                </ion-col>


                <ion-col text-uppercase *ngIf="userProfile?.year">
                    <span>Year {{userProfile?.year}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
  
    <ion-list>
        <ion-item-group>
        <ion-item-divider>
       My Posts
        </ion-item-divider>
        
        <ion-item-sliding *ngFor="let post of postList">
        <ion-item  (click)="goToPostDetail(post.id)">
            <ion-avatar item-left>
                <img src="../assets/img/girl_avatar.png"/>
            </ion-avatar>
            <h3>{{post?.name}}</h3>
            <p><strong>Category:</strong>&nbsp;{{post?.category}}</p>
            <p>{{post?.tag}}</p>
            <p>{{post?.content}}</p>

            <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small color="accent">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small color="accent">
                    <ion-icon name="text"></ion-icon>
                    <div>4</div>
                  </button>
                </ion-col>
                <ion-col center text-center>
                  <ion-note>
                     {{post?.dateCreated | date: 'shortTime' }}
                  </ion-note>
                </ion-col>
            </ion-row>
        </ion-item>
            <ion-item-options>
                <button ion-button icon-only>
                    <ion-icon name="create"></ion-icon>
                </button>
                <button ion-button icon-only>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>  
            </ion-item-group>
    </ion-list>


</ion-content>
