page-home {
 
    .icontext {
        text-align: center;
        font-size: 10px;
        padding: 2px;
    }
    
    .logo_header {
        margin-right: 45px;
    }
    
    .label {
        padding: 0;
        margin-top: 8px;
        margin-bottom: 8px;
        color: map-get($colors, dark);
        
    }
    
    .item-divider {
        border-bottom: 1px solid #303f9f;
    }
//    
//    .header  {
//        height: 70px;
//    }
//    
//    .toolbar {
//        height: 70px;  
//    }
    
    ion-note {
        font-size: 12px;
    }


}
