page-home {

    ion-menu img {
      padding-top: 20px;
    }

    ion-menu ion-list .item-inner {
      padding: 10px;
    }

    ion-menu ion-list .item-block {
      margin-top: 5px;
    }

    ion-menu ion-header {
      text-align: center;
    }

    .icontext {
        text-align: center;
        font-size: 10px;
        padding: 2px;
    }
    
    .logo_header {
        margin-right: 45px;
        
    }
    
    .label {
        padding: 0;
        margin-top: 8px;
        margin-bottom: 8px;
        color: map-get($colors, dark);
        
    }
    
    .item-divider {
        border-bottom: 1px solid #303f9f;
    }
   
   .toolbar {
      
          text-align: center;
    }
    
    ion-note {
        font-size: 12px;
    }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0,0,0);
  }
 
  25% {
    -webkit-transform: translate3d(0,-30%,0);
  }
 
  50% {
    -webkit-transform: translate3d(0,0,0);
  }
 
  75% {
    -webkit-transform: translate3d(0,-30%,0);
  }
 
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
 
.bounce-animation {
  -webkit-animation: bounce ease-in 1; 
  animation: bounce ease-in 1;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
}

}
