<ion-menu [content]="mycontent" type="overlay" persistent="true">
    <ion-header>
        
        <img width="100" src="assets/img/girl_avatar.png"/>
        <p>Anne-Marie</p>
    </ion-header>

    <ion-content>
        <ion-list no-lines>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">{{p.title}}</button>
    
      <button ion-button block (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>Log Out
      </button>
  
        </ion-list>
    </ion-content>
</ion-menu>

<ion-header>     
    <ion-navbar #mycontent swipeBackEnabled="false">
<!--       -->
    <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
    </button>
        
        <img class="logo_header" src="assets/img/arc_logo_white.png" width="40"/>
      
    </ion-navbar>   
</ion-header>

<ion-content class="has-header">
    <ion-list>       
        <ion-item-group>
            <ion-item-divider>
                <h4>News and Events</h4>
                <button class="viewall" ion-button icon-only clear item-right>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </button>
            </ion-item-divider>
            <ion-item>
                <button ion-item detail-none>
                    <ion-icon item-left name="calendar">
                    </ion-icon>
                    Open Day
                    <p>Event</p>
<!--                    <p>Tag</p> -->
                    <ion-note>31 Jan 2017</ion-note>
                    <ion-avatar item-right class="bounce-animation">
                <img src="assets/img/girl_avatar.png"/>
            </ion-avatar>
                </button>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <ion-list>
        <ion-item-group>
            <ion-item-divider>
                <h4>Tasks</h4>
                <button class="viewall" ion-button icon-only clear item-right (click)="goToTasks()">
                        <ion-icon name="arrow-dropright"></ion-icon>
                </button>
            </ion-item-divider>
            
            <ion-item>
                  
            <ion-thumbnail item-left>
            <img src="assets/icon/task_icon_addfriends.png">
            <p class="icontext">Social</p>
            </ion-thumbnail>


            <ion-thumbnail item-left>
            <img src="assets/icon/task_icon_clubs.png">
            <p class="icontext">Clubs</p>
            </ion-thumbnail>


            <ion-thumbnail item-left>
            <img src="assets/icon/task_icon_explore.png">                 
            <p class="icontext">Explore</p>
            </ion-thumbnail>

            <ion-thumbnail item-left>
            <img src="assets/icon/task_icon_findthecode.png">                 
            <p class="icontext">Code</p>
            </ion-thumbnail>
                     
            </ion-item>
        </ion-item-group>  
    </ion-list>
    

    <ion-list>
        <ion-item-group>
            <ion-item-divider>
                <h4>Recent Posts</h4>
                <button class="viewall" ion-button icon-only clear item-right (click)="goToPosts()">
                        <ion-icon name="arrow-dropright"></ion-icon>
                </button>
            </ion-item-divider>
        
            <ion-item-sliding *ngFor="let post of postList">
        <ion-item  (click)="goToPostDetail(post.id)">
            <ion-avatar item-left>
                <img src="assets/img/girl_avatar.png"/>
            </ion-avatar>
            <h2>{{post?.name}}</h2>
            <p><strong>Category:</strong>&nbsp;{{post?.category}}</p>
<!--            <p>{{post?.tag}}</p>-->
            <p>{{post?.content}}</p>

<!--
            <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small color="accent">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small color="accent">
                    <ion-icon name="text"></ion-icon>
                    <div>4</div>
                  </button>
                </ion-col>
                <ion-col center text-center>
                  <ion-note>
                    {{post?.dateCreated | date: 'shortTime' }}
                  </ion-note>
                </ion-col>
            </ion-row>
-->
        </ion-item>
<!--
            <ion-item-options>
                <button ion-button icon-only>
                    <ion-icon name="star"></ion-icon>
                </button>
                <button ion-button icon-only (click)="deletePost(post.id)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
-->
        </ion-item-sliding> 
        
        </ion-item-group>
    </ion-list>
</ion-content>
