
<ion-header>

  <ion-navbar>
    <ion-title>Bookmarks</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<ion-grid *ngIf="bookmarks == null">
	<ion-row>
		<ion-col>
			<img class="logo_header" src="assets/img/arc_logo_white.png"/>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<h2>You don't have any bookmarks yet.</h2>
			<p>Start completing tasks to save bookmarks.</p>
		</ion-col>
	</ion-row>
</ion-grid>

<ion-card *ngFor="let bookmark of bookmarks">


	<ion-card-header>{{bookmark.title}}</ion-card-header>
	<ion-card-content>{{bookmark.desc}}</ion-card-content>
	<button ion-button item-right clear color="accent" (click)="deleteBookmark(bookmark.id)"><ion-icon name="trash"></ion-icon></button>
</ion-card>

</ion-content>
