page-intro {
	ion-slide {
      background-color: map-get($colors, primary);
    }

    .slide2 {
    	background-color: map-get($colors, accent);
    }

    .slide3 {
    	background-color: map-get($postColors, infoBlue);
    }

    .slide4 {
    	background-color: map-get($postColors, campusOrange);
    }

    .slide5 {
        background-color: map-get($postColors, eventRed);
    }

    .slide6 {
        background-color: map-get($postColors, infoBlue);
    }
 
     ion-slide img {
    //   height: 70vh !important;
    //   width: auto !important;
    	height: 40vh !important;
     }


     @-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0,0,0);
  }
 
  25% {
    -webkit-transform: translate3d(0,-40%,0);
  }
 
  50% {
    -webkit-transform: translate3d(0,0,0);
  }
 
  75% {
    -webkit-transform: translate3d(0,-40%,0);
  }
 
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
 
.bounce-animation {
  -webkit-animation: bounce ease-in 2; 
  animation: bounce ease-in 2;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
}



}
