page-post-detail {

    .socialPost {
        background-color: map-get($postColors, socialYellow);
    }
    
    .infoPost {
        background-color: map-get($postColors, infoBlue);
    }
    
    .campusPost {
        background-color: map-get($postColors, campusOrange);
    }
    
    .explorePost {
        background-color: map-get($postColors, exploreGreen);
    }
    
    .eventPost {
        background-color: map-get($postColors, eventRed);
    }
    
    .newsPost {
        background-color: map-get($postColors, infoBlue);
    }
    
    .miscPost {
        background-color: map-get($postColors, campusOrange);
    }
    
    .clubsPost {
        background-color: map-get($postColors, socialYellow);
    }
    
    .toolbar-background {
        background-color: white;
        opacity: .2;
        background-image: none;
    }
    
    .postContent {
        font-size: 3.2rem;
        font-family: 'Montserrat-Bold';
        font-weight: 800;
        word-wrap: normal;
        word-break: keep-all;
        margin-top: .4em;
    }
    ion-col {
        text-align: center;
    }

}
