page-post-detail {

    .openPostBackground {
        background-color: greenyellow;
    }
    
    .toolbar-background {
        background-color: white;
        opacity: .2;
        background-image: none;
    }
    
    .postContent {
        font-size: 400%;
        font-family: 'Montserrat';
        font-weight: 800;
    }
}
