page-leaderboard {

	ion-item.ng-enter-stagger {
	  -webkit-animation-delay:200ms;
	  animation-delay:200ms;

	  /* override to make sure it's not inherited from other styles */
	  -webkit-animation-duration:0;
	  animation-duration:0;
	}
	ion-item.ng-enter-stagger2 {
	  -webkit-animation-delay:300ms;
	  animation-delay:300ms;

	  /* override to make sure it's not inherited from other styles */
	  -webkit-animation-duration:0;
	  animation-duration:0;
	}
}
