page-tasks {

    // ion-row {
    //     //margin-bottom: 10%;
    // }
    
    p {
        text-align: center;
    }
    
    img {
        padding-bottom: 10px;
    }
    
    .reportcardicon {
        margin-top: 8px;
    }
    
    .card {
        background: #fff;
        width: 75%;
        margin-left: 20px;
    }
    .card-ios {
        background: #fff;
    }
    
    ion-badge {
        position: absolute;       
    }

    // ion-row {
    //     height: 150px;
    // }

}
